.footer-copyright {
  margin-bottom: 0;
}

@media screen and (min-width: 801px) {
  .footer-col-3 {
    position: relative;
  }

  .footer-copyright {
    left: 15px;
    position: absolute;
    top: 82.5px;
  }
}
